# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.log

.venv/
# .env
backend/.venv/


# ---- Django ----
db.sqlite3
media/
staticfiles/

# # Node
# node_modules/
# frontend/dist/
# frontend/.vite/

# Docker
*.log
*.pid
*.sock
docker-compose.override.yml

# IDEs
.vscode/
.idea/

# ---- Environment ----
.env
*.env



##
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# ---- Ignore management commands ----
backend/travel/management/commands/*.py
!backend/travel/management/commands/__init__.py   # keep package marker
backend/import_data.py
backend/seed_demo.py

# ---- Other ----
*.DS_Store


# ---- Docker ----
*.pid
*.sock
*.tmp

# ---- Optional: Ignore migrations ----
# backend/travel/migrations/*.py
# !backend/travel/migrations/__init__.py